In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('dataset.txt',sep=',')

In [3]:
data.sample(5)

      Marks_1    Marks_2  Result
52  90.546714  43.390602       1
35  54.635106  52.213886       0
96  42.261701  87.103851       1
48  62.073064  96.768824       1
57  32.577200  95.598548       0

In [6]:
X=data.iloc[:,0:2].values
y=data.iloc[:,-1].values

In [7]:
X.shape

(100, 2)

# Lasso Regularization

In [164]:
def fit(X,y):
    column,dim=X.shape
    lambda_1=100
    c=0
    w=np.zeros(dim)
    alpha=0.001
    ite=100000
    for i in range(ite):
        L1=lambda_1/(2*column)*sum(w) #creating the extra term
        eqn=np.dot(X,w)+c+L1 #equation after adding the extra term
        sig=1/(1+np.exp(-eqn)) #sigmoid function to overcome the outliers
        w_new=(1/column) * np.dot(X.T,(sig-y))
        c_new=(1/column) * np.sum(sig-y)
        if(abs(w-w_new).any()<=0.001 and abs(c-c_new)<=0.001):
            break
        else:
            w=w-(alpha*w_new)
            c=c-(alpha*c_new)
    return(w,c,L1)

In [165]:
fit(X,y)

(array([0.04507147, 0.03797333]), -4.82559279315329, 0.04152213949513497)

In [113]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [114]:
from sklearn.metrics import accuracy_score

In [166]:
def Predict(X):
    w,c,L1=fit(X_train,y_train)
    eqn=np.dot(X,w)+c+L1
    pred=1/(1+np.exp(-eqn))
    indicator= [0 if x<0.5 else 1 for x in pred]
    return (pred,indicator)

In [167]:
pred,indicator=Predict(X_test)

In [168]:
pd.DataFrame(pred,y_test,columns=['prediction'])

   prediction
1    0.789604
0    0.136780
1    0.789107
0    0.405606
0    0.319115
1    0.627999
1    0.674805
0    0.751646
0    0.363993
1    0.746046
1    0.847279
1    0.744271
1    0.524199
1    0.630254
1    0.929083
0    0.469674
1    0.857641
1    0.822671
1    0.887789
0    0.332778

In [169]:
print(accuracy_score(indicator,y_test))

0.95

# Ridge regularization

In [132]:
def fit(X,y):
    column,dim=X.shape
    lambda_1=100
    c=0
    w=np.zeros(dim)
    alpha=0.001
    ite=100000
    for i in range(ite):
        L2=lambda_1/(2*column)*sum(w**2) #creating the extra term
        eqn=np.dot(X,w)+c+L2 #equation after adding the extra term
        sig=1/(1+np.exp(-eqn)) #sigmoid function to overcome the outliers
        w_new=(1/column) * np.dot(X.T,(sig-y))
        c_new=(1/column) * np.sum(sig-y)
        if(abs(w-w_new).any()<=0.001 and abs(c-c_new)<=0.001):
            break
        else:
            w=w-(alpha*w_new)
            c=c-(alpha*c_new)
    return(w,c,L2)

In [133]:
fit(X,y)

(array([0.04527066, 0.03818108]), -4.812230733759228, 0.001753592372702684)

In [154]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [155]:
from sklearn.metrics import accuracy_score

In [156]:
def Predict(X):
    w,c,L2=fit(X_train,y_train)
    eqn=np.dot(X,w)+c+L2
    pred=1/(1+np.exp(-eqn))
    indicator= [0 if x<0.5 else 1 for x in pred]
    return (pred,indicator)

In [157]:
pred,indicator=Predict(X_test)

In [158]:
pd.DataFrame(pred,y_test,columns=['prediction'])

   prediction
1    0.790329
0    0.135126
1    0.789594
0    0.404217
0    0.317256
1    0.628433
1    0.675037
0    0.751895
0    0.362770
1    0.746828
1    0.848239
1    0.744568
1    0.523594
1    0.630570
1    0.929882
0    0.468752
1    0.858537
1    0.823721
1    0.888570
0    0.331302

In [159]:
print(accuracy_score(indicator,y_test))

0.95