In [76]:
import numpy as np
import pandas as pd

In [77]:
data=pd.read_csv('dataset.txt',sep=',')

In [78]:
data.sample(5)

      Marks_1    Marks_2  Result
8   76.098787  87.420570       1
64  44.668262  66.450086       0
29  38.785804  64.995681       0
52  90.546714  43.390602       1
98  55.340018  64.931938       1

In [79]:
X=data.iloc[:,0:2].values

In [80]:
y=data.iloc[:,-1].values

In [81]:
X.shape

(100, 2)

In [82]:
def fit(X,y):
    column,dim=X.shape
    c=0
    w=np.zeros(dim)
    alpha=0.001
    ite=100000
    for i in range(ite):
        eqn=np.dot(X,w)+c #equation
        sig=1/(1+np.exp(-eqn)) #sigmoid function to overcome the outliers
        w_new=(1/column) * np.dot(X.T,(sig-y))
        c_new=(1/column) * np.sum(sig-y)
        if(abs(w-w_new).any()<=0.001 and abs(c-c_new)<=0.001):
            break
        else:
            w=w-(alpha*w_new)
            c=c-(alpha*c_new)
    return(w,c)

In [83]:
fit(X,y)

(array([0.04528064, 0.03819149]), -4.811800271071584)

In [84]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [85]:
from sklearn.metrics import accuracy_score

In [86]:
def Predict(X):
    w,c=fit(X_train,y_train)
    eqn=np.dot(X,w)+c
    pred=1/(1+np.exp(-eqn))
    indicator= [0 if x<0.5 else 1 for x in pred]
    return (pred,indicator)

In [87]:
pred,indicator=Predict(X_test)

In [88]:
pd.DataFrame(pred,y_test,columns=['prediction'])

   prediction
0    0.533842
1    0.520232
0    0.212895
1    0.894822
1    0.576035
1    0.624497
0    0.464179
1    0.856412
1    0.740025
1    0.643420
0    0.486815
1    0.726967
1    0.913015
1    0.916730
1    0.833515
0    0.405991
0    0.260559
0    0.321676
0    0.450721
0    0.511218

In [89]:
print(accuracy_score(indicator,y_test))

0.9